.main{
    background-color: var(--primary-background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .main__info{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}

