.button__app {
    width: 100%;
    padding: 15px 20px;
    border-radius: 30px;
    background: #000;
    color: #FFFF;
    border: none;
    font-size: 15px;
    outline: none;
    transition: ease-in-out .3s;

    &:hover {
        cursor: pointer;
        background: var(--grey-color-800);
        transition: ease-in-out .3s;
    }
}

.button__appred{
    width: 100%;
    padding: 15px 20px;
    border-radius: 30px;
    background: var(--primary-color);
    color: #FFFF;
    border: none;
    font-size: 15px;
    outline: none;
    transition: ease-in-out .3s;

    &:hover {
        cursor: pointer;
        background: var(--grey-color-800);
        transition: ease-in-out .3s;
    }
}