.input__search__container {
    background: var(--grey-color-200);
    padding: 18px;
    border-radius: 100px;

    .input__search__app {
        border: none;
        background: transparent;
    }
}