@import 'base/normalize';
@import 'base/typographi';
@import 'base/utilities';
@import 'themes/theme-default';
@import 'themes/theme-dark';
@import 'pages/mainPage';


.theme {
    &--default {
        --primary-color: #{$primary-color};
        --primary-background: #{$primary-background};
        --secondary-gray: #{$secondary-gray};
    }

    &--dark {
        --primary-color: #{$gray-color-3};
    }
}