$primary-color: #f77f00;
$primary-alt-color: #EDBC51;

$secondary-color: #a7c957;
$terciary-color: #00a6fb;
$secondary-gray: #cccccc;
$primary-background: #e6e6e6;
$terciary-gray: #e9e9e9;

// gray scale

$shadows-gray:#b3b3b3;
$grey-color-100: #f0f0f0;
$grey-color-200: #cdcdcd;
$grey-color-300: #b4b4b4;
$grey-color-400: #9b9b9b;
$grey-color-500: #828282;
$grey-color-600: #686868;
$grey-color-700: #4f4f4f;
$grey-color-800: #363636;
$grey-color-900: #1d1d1d;
